<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arthas.learningcurve.dao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.arthas.learningcurve.model.UserInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.arthas.learningcurve.model.UserInfoWithBLOBs" extends="BaseResultMap" >
    <result column="mobile" property="mobile" jdbcType="LONGVARCHAR" />
    <result column="password" property="password" jdbcType="LONGVARCHAR" />
    <result column="nickName" property="nickname" jdbcType="LONGVARCHAR" />
    <result column="signature" property="signature" jdbcType="LONGVARCHAR" />
    <result column="userIcon" property="usericon" jdbcType="LONGVARCHAR" />
    <result column="realName" property="realname" jdbcType="LONGVARCHAR" />
    <result column="cardNumber" property="cardnumber" jdbcType="LONGVARCHAR" />
    <result column="desc1" property="desc1" jdbcType="LONGVARCHAR" />
    <result column="desc2" property="desc2" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, gender
  </sql>
  <sql id="Blob_Column_List" >
    mobile, password, nickName, signature, userIcon, realName, cardNumber, desc1, desc2
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.arthas.learningcurve.model.UserInfoWithBLOBs" >
    insert into user_info (id, gender, mobile, 
      password, nickName, signature, 
      userIcon, realName, cardNumber, 
      desc1, desc2)
    values (#{id,jdbcType=INTEGER}, #{gender,jdbcType=INTEGER}, #{mobile,jdbcType=LONGVARCHAR}, 
      #{password,jdbcType=LONGVARCHAR}, #{nickname,jdbcType=LONGVARCHAR}, #{signature,jdbcType=LONGVARCHAR}, 
      #{usericon,jdbcType=LONGVARCHAR}, #{realname,jdbcType=LONGVARCHAR}, #{cardnumber,jdbcType=LONGVARCHAR}, 
      #{desc1,jdbcType=LONGVARCHAR}, #{desc2,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.arthas.learningcurve.model.UserInfoWithBLOBs" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="nickname != null" >
        nickName,
      </if>
      <if test="signature != null" >
        signature,
      </if>
      <if test="usericon != null" >
        userIcon,
      </if>
      <if test="realname != null" >
        realName,
      </if>
      <if test="cardnumber != null" >
        cardNumber,
      </if>
      <if test="desc1 != null" >
        desc1,
      </if>
      <if test="desc2 != null" >
        desc2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=LONGVARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=LONGVARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=LONGVARCHAR},
      </if>
      <if test="signature != null" >
        #{signature,jdbcType=LONGVARCHAR},
      </if>
      <if test="usericon != null" >
        #{usericon,jdbcType=LONGVARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=LONGVARCHAR},
      </if>
      <if test="cardnumber != null" >
        #{cardnumber,jdbcType=LONGVARCHAR},
      </if>
      <if test="desc1 != null" >
        #{desc1,jdbcType=LONGVARCHAR},
      </if>
      <if test="desc2 != null" >
        #{desc2,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.arthas.learningcurve.model.UserInfoWithBLOBs" >
    update user_info
    <set >
      <if test="gender != null" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=LONGVARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=LONGVARCHAR},
      </if>
      <if test="nickname != null" >
        nickName = #{nickname,jdbcType=LONGVARCHAR},
      </if>
      <if test="signature != null" >
        signature = #{signature,jdbcType=LONGVARCHAR},
      </if>
      <if test="usericon != null" >
        userIcon = #{usericon,jdbcType=LONGVARCHAR},
      </if>
      <if test="realname != null" >
        realName = #{realname,jdbcType=LONGVARCHAR},
      </if>
      <if test="cardnumber != null" >
        cardNumber = #{cardnumber,jdbcType=LONGVARCHAR},
      </if>
      <if test="desc1 != null" >
        desc1 = #{desc1,jdbcType=LONGVARCHAR},
      </if>
      <if test="desc2 != null" >
        desc2 = #{desc2,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.arthas.learningcurve.model.UserInfoWithBLOBs" >
    update user_info
    set gender = #{gender,jdbcType=INTEGER},
      mobile = #{mobile,jdbcType=LONGVARCHAR},
      password = #{password,jdbcType=LONGVARCHAR},
      nickName = #{nickname,jdbcType=LONGVARCHAR},
      signature = #{signature,jdbcType=LONGVARCHAR},
      userIcon = #{usericon,jdbcType=LONGVARCHAR},
      realName = #{realname,jdbcType=LONGVARCHAR},
      cardNumber = #{cardnumber,jdbcType=LONGVARCHAR},
      desc1 = #{desc1,jdbcType=LONGVARCHAR},
      desc2 = #{desc2,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.arthas.learningcurve.model.UserInfo" >
    update user_info
    set gender = #{gender,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>